a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body,
html {
  line-height: 1;
  height: 100%;
  margin: 0;
}
body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

[class*="__container"] {
  /*ограничающий контейнер*/
  max-width: 1057px;
  margin: 0 auto;
}
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  /* background-color: blanchedalmond; */
  min-height: 114px;
  align-items: center;
}
.header__logo {
}
.header__menu {
  flex: 1 1 auto;
}
.menu {
  display: flex;
  justify-content: flex-end;
  /* padding: 0 40px 0 0;   */
}
.menu__list {
  display: flex;
  list-style-type: none;
  /* gap: 40px; */
}
.menu__item {
  padding: 0 40px 0 0;
}
.menu__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
}
.header__button {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
}
.button {
  display: inline-block;
  font-family: Raleway;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fcfdfe;
  border-radius: 5px;
  padding: 14px 30px;
  background-color: #ec5863;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
}
.button:hover {
  background-color: #ee3743;
}
.button_blue {
  background: #4285f4;
}
.button_blue:hover {
  background: rgb(17, 101, 236);
}
/* ================================================================= */
.get-started {
  background-color: #fafbfd;
  padding: 150px 0px 50px 0px;
}
.get-started__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.get-started__content {
  flex: 0 1 48%;
  padding: 0px 0px 0px 20px;
}
.get-started__block-text {
  max-width: 410px;
}
.block-text {
}
.block-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000;
}
.block-text__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.block-text__title span {
  color: #ec5863;
}
.block-text__title__blue span {
  color: #4285f4;
}
.block-text__text {
  line-height: 138.5%;
}
.block-text__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.block-text__button {
}
.button {
}
.get-started__image {
  flex: 0 1 52%;
}
.get-started__image img {
  max-width: 100%;
}
.get-started__video {
  flex: 1 1 100%;
  margin: 60px 0px 0px 0px;
}
.video-get-started {
  display: inline-flex;
  /* padding: 0px 0px 0px 20px; */
  align-items: center;
}
.video-get-started__icon {
  flex: 0 0 44px;
  margin: 0px 12px 0px 0px;
}
.video-get-started__body {
}
.video-get-started__title {
  color: #b0b0b0;
  font-size: 13px;
  line-height: 126%;
  text-decoration: none;
  letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.video-get-started__text {
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000;
}
/* ================================================================= */
.main {
}
.footer {
}
/* ================================================= */

.stay-safe {
  padding: 80px 0px;
}
.block-text__title_mw {
  max-width: 379px;
}
.stay-safe__container {
  display: flex;
  align-items: center;
}
.stay-safe__media {
  flex: 0 1 50%;
  padding: 0px 0px 0px 47px;
  /* position: relative; */
}
.stay-safe__content {
  flex: 0 1 50%;
}
.media-stay-safe {
  padding: 56px 0px 27px 0px;
  width: 386px;
  text-align: center;
  position: relative;
}
.media-stay-safe__image {
  display: inline-block;
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  position: relative;
}
.media-stay-safe__image img {
  position: relative;
  z-index: 2;
}
.media-stay-safe__image::after {
  content: "";
  position: absolute;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  width: 206px;
  height: 27px;
  left: 12px;
  bottom: -12px;
  z-index: 1;
}
/* ==========ДЕКОР============ */
.media-stay-safe__item {
  background-color: #ec5863;
  width: 77px;
  height: 77px;
  border-radius: 30px;
  position: absolute;
}
.media-stay-safe_item_1 {
  top: 0px;
  left: 0px;
  height: 147px;
  width: 147px;
}
.media-stay-safe_item_2 {
  left: 32px;
  bottom: 0px;
}
.media-stay-safe_item_3 {
  bottom: 107px;
  right: 48px;
}

/* =================NUMBER SECTION=================== */
.talk-to-experts {
  padding: 80px 0px 0px 0px;
}
.talk-to-experts__container {
  display: flex;
}

.talk-to-experts__numbers {
  display: flex;
}
.number-talk-to-experts {
  display: flex;
}
.number-talk-to-experts_1 {
  flex: 0 1 222px;
}
.number-talk-to-experts_2 {
}
.number-talk-to-experts_3 {
}
/* ================================ */

/* =======================Experts================== */
.experts {
  background-color: #fafbfd;
  padding: 103px 0px 116px 0px;
  margin: 0px 0px 79px 0px;
}
.block-text_center {
  text-align: center;
}
.block-text__text_mw {
  max-width: 600px;
  margin: 0 auto;
}
.experts__body {
  display: flex;
  align-items: center;
}
.experts__container {
}
.experts__statistics {
}
.experts__block-text {
  max-width: 400px;
}
.experts__content {
  flex: 0 1 50%;
  padding: 0px 20px 0px 0px;
}
.experts__video {
  position: relative;
  padding: 0px 0px 28% 0px;
  flex: 0 1 50%;
}
.experts__video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.statistics-experts {
  max-width: 784px;
  margin: 0 auto;
  position: relative;
}
.statistics-experts__body {
  position: relative;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  margin: 0px 0px 80px 0px;
}
.statistics-experts__decor {
  position: absolute;
  background-color: #ec5863;
  border-radius: 16px;
}
.statistics-experts_decor_1 {
  width: 65px;
  height: 65px;
  transform: rotate(-30deg);
  left: -21px;
  bottom: -21px;
}
.statistics-experts_decor_2 {
  width: 97px;
  height: 97px;
  top: -43px;
  right: 50%;
  transform: rotate(105deg);
  border-radius: 30px;
}
.statistics-experts_decor_3 {
  width: 130px;
  height: 130px;
  border-radius: 30px;
  transform: rotate(-30deg);
  right: -55px;
  top: -5px;
}

.body-statistics-experts {
  padding: 25px 80px;
  display: flex;
  align-items: center;
}
.body-statistics-experts__item {
  flex: 1 1 25%;
  text-align: center;
}
.body-statistics-experts__item:last-child {
  flex: 1 1 50%;
}
.body-statistics-experts__value {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #ec5863;
  margin-bottom: 5px;
}
.body-statistics-experts__text {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* =============================Healthcare=============== */
.healthcare {
  position: relative;
  z-index: 60;
  padding-bottom: 75px;
}
.healthcare__container {
}
.healthcare__block-text {
  margin: 0px 0px 45px 0px;
}

.healthcare__items {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  gap: 70px;
  position: relative;
}
.healthcare__item {
  flex: 0 1 33%;
  position: relative;
  z-index: 10;
}
.item-healthcare {
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 17px;
  text-align: center;
}
.item-healthcare__icon {
  margin: 0px 0px 58px 0px;
}
.item-healthcare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  margin: 0px 0px 4px 0px;
}
.item-healthcare__text {
  line-height: 138.5%;
}
/* ------------------------ДЕКОР --------------- */
.media-healthcare__item {
  position: absolute;
  z-index: 2;
  background-color: #ec5863;
  border-radius: 16px;
  transform: rotate(-30deg);
  width: 65px;
  height: 65px;
}
.media-healthcare_item_1 {
  bottom: -35px;
  left: -30px;
}
.media-healthcare_item_2 {
  width: 96px;
  height: 96px;
  border-radius: 30px;
  transform: rotate(105deg);
  left: 235px;
  top: 31px;
}
.media-healthcare_item_3 {
  width: 127px;
  height: 127px;
  border-radius: 30px;
  transform: rotate(-30deg);
  bottom: -28px;
  left: 580px;
}
.media-healthcare_item_4 {
  right: -21px;
  top: -35px;
}
/* --------------------------------------------- */

.footer {
  padding-bottom: 40px;
}
.footer__container {
}
.footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer__item {
}
